/* Container for the entire comment section */
.comment-wrap {
    margin: 10px;
}

/* Container for individual comments */
.comment-wrap .comment-container {
    background-color: white;
}

/* Flexbox layout for comment data */
.comment-wrap .comment-container .comment-data {
    display: flex;
    align-items: center;
}

/* Styling for the text content of comments */
.comment-wrap .comment-container .comment-data .text-content {
    background-color: #F1F3FD;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px;
}

/* Remove default border from fieldset */
fieldset {
    border: none;
}

/* Flexbox layout for legend */
legend {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

/* Styling for user images */
.comment-wrap .comment-container .comment-data .user-image {
    width: 40px;
    margin-right: 10px;
}

/* Margin for user actions */
.comment-wrap .comment-container .user_actions {
    margin-left: 40px;
}

/* Styling for headings */
h5, h6 {
    font-weight: 400;
    margin: 0;
}

/* Styling for buttons */
.comment-wrap .comment-container button {
    background-color: white;
    color: hsl(0, 1%, 48%);
    border: none;
    font-weight: 600;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 0.7rem;
}

/* Hover effect for buttons */
.comment-wrap .comment-container button:hover {
    color: blue;
}

/* Styling for input fields */
.comment-wrap .comment-container input {
    padding: 10px;
    border: 1px solid #dfdbe3;
    border-radius: 10px;
    margin: 10px 10px 0 0;
}

/* Remove outline on input focus */
.comment-wrap .comment-container input:focus {
    outline: none;
}

/* Padding for replies */
.comment-wrap .replies {
    padding-left: 50px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    .comment-wrap .replies {
        padding-left: 25px;
    }
}
